<a href="https://colab.research.google.com/github/Yudik507/YUDIKA-PUNYA/blob/main/Pertemuan_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Alur Program python

In [ ]:
print("Hello")
print("World")
print("Hello World")

print("Halo Mahasiswa Informatika")
# ini adalah comment
a = 10 # ini adalah comment juga
"""ada apa dengan
ucup dan otong si ganteng
dalam comment multiline"""
print(a)

Hello
World
Hello World
Halo Mahasiswa Informatika
10

In [ ]:
print("Hello World")

Hello World

In [ ]:
#hari saya pake baju item

In [ ]:
print("""
Print helo
wordl
""")

Print helo
wordl

In [ ]:
print("\n halo \n dunia")

 halo
 dunia

In [ ]:
a="Tuang kopi"

print(a)

Tuang kopi

In [ ]:
# Kode di luar alur pemrograman Python (tidak dieksekusi)

# Contoh 1: Teks biasa
# Ini hanyalah teks biasa, bukan kode Python yang valid.
# Tidak ada interpreter python yang akan menjalankan baris ini.

# Contoh 2: HTML
# <p>Ini adalah tag HTML paragraf.</p>
# <a href="https://www.example.com">Link ke example.com</a>
# Ini juga tidak akan dieksekusi oleh interpreter python.

# Contoh 3: Javascript
# console.log("Hello from Javascript");
# Ini kode javascript yang tidak akan jalan di python.

# Contoh 5: Markdown
# # Heading 1
# * Bullet Point 1
# * Bullet Point 2
# Markdown digunakan untuk formatting teks, bukan untuk eksekusi oleh python interpreter.

# Variabel

In [ ]:
nama = "Agus Sutejo"
umur = 30
tinggi = 1.75
menikah = True
hobi = "Membaca", "Mendengarkan musik", "Berenang"

# Menampilkan nilai variabel
print("Nama:", nama)
print("Umur:", umur)
print("Tinggi:", tinggi)
print("Menikah:", menikah)
print("Hobi:", hobi)

Nama: Agus Sutejo
Umur: 30
Tinggi: 1.75
Menikah: True
Hobi: ('Membaca', 'Mendengarkan musik', 'Berenang')

In [ ]:
# menaru / assignment nilai
a = 10
x = 5
panjang = 1000

# pemanggilan pertama
print("Nilai a = ", a)
print("Nilai x = ", x)
print("Nilai panjang = ", panjang)

# penamaan
nilai_y = 15 # dengan menggunakan underscore
juta10 = 10000000 # ini boleh
nilaiZ = 17.5 # ini boleh

# pemanggilan kedua
print("Nilai a = ", a)
a = 7
print("Nilai a = ", a)

# assignment indirect
b = a
print("Nilai b = ", b)

Nilai a =  10
Nilai x =  5
Nilai panjang =  1000
Nilai a =  10
Nilai a =  7
Nilai b =  7

In [ ]:
buah_berbiji="rambutan"

print(buah_berbiji)

rambutan

In [ ]:
buah_berbiji="semangka"
print(buah_berbiji)

semangka

In [ ]:
jenis_celana="celana panjang"
print("Saya Suka Memakai " ,jenis_celana)

Saya Suka Memakai  celana panjang

# Tipe Data Python

NUMERIK

In [ ]:
# 1. Integer (bilangan bulat)
umur_integer = 25
print("Integer:", umur_integer, type(umur_integer))

angka_bulat_besar = 10000000000000000000000000000000
print("Angka bulat besar:", angka_bulat_besar, type(angka_bulat_besar))

angka_negatif = -5
print("Angka negatif:", angka_negatif, type(angka_negatif))

#2. Float (bilangan desimal)
tinggi_float = 1.78
print("Float:", tinggi_float, type(tinggi_float))

berat_badan = 65.5
print("Berat badan:", berat_badan, type(berat_badan))

phi = 3.14159265359
print("Phi:", phi, type(phi))

# 3. Complex (bilangan kompleks)
bilangan_kompleks = 2 + 3j
print("Complex:", bilangan_kompleks, type(bilangan_kompleks))

bilangan_kompleks_lain = -1 - 2j
print("Complex lain:", bilangan_kompleks_lain, type(bilangan_kompleks_lain))

# Akses real dan imaginary part
print("Real part:", bilangan_kompleks.real)
print("Imaginary part:", bilangan_kompleks.imag)

Integer: 25 <class 'int'>
Angka bulat besar: 10000000000000000000000000000000 <class 'int'>
Angka negatif: -5 <class 'int'>
Float: 1.78 <class 'float'>
Berat badan: 65.5 <class 'float'>
Phi: 3.14159265359 <class 'float'>
Complex: (2+3j) <class 'complex'>
Complex lain: (-1-2j) <class 'complex'>
Real part: 2.0
Imaginary part: 3.0

In [ ]:
angka_baru= 45
print(angka_baru)

45

In [ ]:
angka_baru= 40
print("Integer:", angka_baru, type(angka_baru))

Integer: 40 <class 'int'>

In [ ]:
pi_lingkaran= 3.14
print("angka ini " , pi_lingkaran, type(pi_lingkaran))

angka ini  3.14 <class 'float'>

URUTAN (SEQUENCE)

1. String

In [ ]:
#1. String

# String literal dapat didefinisikan dengan tanda kutip tunggal ('...') atau ganda ("...")
nama = "Budi Santoso"
alamat = 'Jl. Merdeka No. 10'

print("Nama:", nama, type(nama))
print("Alamat:", alamat, type(alamat))

# String multiline menggunakan tiga tanda kutip tunggal ('''...''') atau ganda ("""...""")
deskripsi = """Ini adalah string
multiline yang dapat
mencakup beberapa baris."""

print("Deskripsi:", deskripsi, type(deskripsi))

# String formatting
umur = 20
nama = "Andi"
kalimat_format = f"Nama saya {nama} dan umur saya {umur} tahun."
print(kalimat_format) # Output: Nama saya Andi dan umur saya 20 tahun.

Nama: Budi Santoso <class 'str'>
Alamat: Jl. Merdeka No. 10 <class 'str'>
Deskripsi: Ini adalah string
multiline yang dapat
mencakup beberapa baris. <class 'str'>
Nama saya Andi dan umur saya 20 tahun.

In [ ]:
nama_orang="rafael"
print(nama_orang)

rafael

In [ ]:
nama="yudi"
umur=20
jurusan="informatika"
nama
print(f"Nama saya {nama} usia saya {umur} saya kuliah jurusan {jurusan} ")
print(f"Nama Saya " , umur)

Nama saya yudi usia saya 20 saya kuliah jurusan informatika
Nama Saya  20

2. List

In [ ]:
# Contoh penggunaan list
hobi = ["Membaca", "Mendengarkan musik", "Berenang"]

# Mengakses elemen list
print("Hobi pertama:", hobi[0])  # Output: Membaca
print("Hobi kedua:", hobi[1])  # Output: Mendengarkan musik

# Modifikasi elemen list (list bersifat mutable)
hobi[0] = "Menulis"
print("Hobi setelah dimodifikasi:", hobi)  # Output: ['Menulis', 'Mendengarkan musik', 'Berenang']

# Menambahkan elemen ke list
hobi.append("Bersepeda")
print("Hobi setelah ditambahkan elemen:", hobi)  # Output: ['Menulis', 'Mendengarkan musik', 'Berenang', 'Bersepeda']

# Menghapus elemen dari list
hobi.remove("Mendengarkan musik")
print("Hobi setelah dihapus elemen:", hobi)  # Output: ['Menulis', 'Berenang', 'Bersepeda']

# Menghapus elemen berdasarkan indeks
del hobi[1]
print("Hobi setelah dihapus elemen berdasarkan indeks:", hobi) # Output: ['Menulis', 'Bersepeda']


# Slicing list
print("Dua hobi pertama:", hobi[:2])  # Output: ['Menulis', 'Bersepeda']

# Menggabungkan list
hobi_lain = ["Memasak", "Melukis"]
semua_hobi = hobi + hobi_lain
print("Semua hobi:", semua_hobi)  # Output: ['Menulis', 'Bersepeda', 'Memasak', 'Melukis']

# Fungsi-fungsi built-in untuk list
print("Panjang list:", len(hobi))  # Output: 2
print("Elemen terbesar:", max(hobi)) # Output: Bersepeda (berdasarkan urutan alfabetis)
print("Elemen terkecil:", min(hobi))  # Output: Bersepeda (berdasarkan urutan alfabetis)

Hobi pertama: Membaca
Hobi kedua: Mendengarkan musik
Hobi setelah dimodifikasi: ['Menulis', 'Mendengarkan musik', 'Berenang']
Hobi setelah ditambahkan elemen: ['Menulis', 'Mendengarkan musik', 'Berenang', 'Bersepeda']
Hobi setelah dihapus elemen: ['Menulis', 'Berenang', 'Bersepeda']
Hobi setelah dihapus elemen berdasarkan indeks: ['Menulis', 'Bersepeda']
Dua hobi pertama: ['Menulis', 'Bersepeda']
Semua hobi: ['Menulis', 'Bersepeda', 'Memasak', 'Melukis']
Panjang list: 2
Elemen terbesar: Menulis
Elemen terkecil: Bersepeda

In [ ]:
peserta=["Andi","Nabil","Caca"]
print(peserta)

['Andi', 'Nabil', 'Caca']

In [ ]:
print("Nama Saya", peserta[2])

Nama Saya Caca

In [ ]:
peserta[0]="Sion"
print(peserta)

['Sion', 'Nabil', 'Caca']

In [ ]:
peserta.append("Budiono")
print(peserta)

['Sion', 'Nabil', 'Caca', 'Budiono']

In [ ]:
print(peserta)

['Nabil', 'Caca', 'Budiono']

In [ ]:
del peserta[0]
print(peserta)

['Caca', 'Budiono']

In [ ]:
# Slicing list
print("Peserta:", peserta[:2])

Peserta: ['Caca', 'Budiono']

In [ ]:
print(peserta)

['Caca', 'Budiono']

In [ ]:
nama_baru=["Rafli","Roy"]
nama_tambah=nama_baru+peserta
print(nama_tambah)

['Rafli', 'Roy', 'Caca', 'Budiono']

In [ ]:
print("Panjang list:", len(nama_tambah))  # Output: 2
print("Elemen terbesar:", max(nama_tambah)) # Output: Bersepeda (berdasarkan urutan alfabetis)
print("Elemen terkecil:", min(nama_tambah))  # Output: Bersepeda (berdasarkan urutan alfabetis)

Panjang list: 4
Elemen terbesar: Roy
Elemen terkecil: Budiono

3. Tuple

In [ ]:
# Tuple mirip dengan list, tetapi bersifat immutable (tidak dapat diubah setelah didefinisikan)
koordinat = (10, 20)
print("Koordinat:", koordinat, type(koordinat))

# Mengakses elemen tuple
print("Nilai x:", koordinat[0])  # Output: 10
print("Nilai y:", koordinat[1])  # Output: 20

# Tuple packing dan unpacking
angka = 1, 2, 3  # Tuple packing
a, b, c = angka  # Tuple unpacking
print("a:", a)  # Output: 1
print("b:", b)  # Output: 2
print("c:", c)  # Output: 3

# Tuple dengan satu elemen harus diakhiri dengan koma
tuple_tunggal = (1,)  # Tuple dengan satu elemen
print(tuple_tunggal, type(tuple_tunggal))


# Contoh immutable (tidak bisa diubah)
# koordinat[0] = 15  # Akan menghasilkan error TypeError: 'tuple' object does not support item assignment


# Menggabungkan Tuple
# Tuple pertama
tuple1 = (1, 2, 3)

# Tuple kedua
tuple2 = (4, 5, 6)

# Menggabungkan tuple
tuple_hasil = tuple1 + tuple2

print("Tuple hasil penggabungan:", tuple_hasil)

# Jika ingin menggabungkan lebih dari dua tuple
tuple3 = (7, 8, 9)
tuple_hasil_lain = tuple1 + tuple2 + tuple3

print("Tuple hasil penggabungan lebih dari dua tuple:", tuple_hasil_lain)

Koordinat: (10, 20) <class 'tuple'>
Nilai x: 10
Nilai y: 20
a: 1
b: 2
c: 3
(1,) <class 'tuple'>
Tuple hasil penggabungan: (1, 2, 3, 4, 5, 6)
Tuple hasil penggabungan lebih dari dua tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
tupel=(1,2,3)
print(tupel)

(1, 2, 3)

In [ ]:
# Tuple packing dan unpacking
angka = 1, 2, 3  # Tuple packing
a, b, c = angka  # Tuple unpacking
print("a:", a)  # Output: 1
print("b:", b)  # Output: 2
print("c:", c)  # Output: 3

a: 1
b: 2
c: 3

In [ ]:
nomor=(1,2,3,4,5)
a, b, c, d, e=nomor
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [ ]:
# Tuple dengan satu elemen harus diakhiri dengan koma
tuple_tunggal = (1,)  # Tuple dengan satu elemen
print(tuple_tunggal)

(1,)

In [ ]:
tuple1 = (1, 2, 3)

# Tuple kedua
tuple2 = (4, 5, 6)

# Menggabungkan tuple
tuple_hasil = tuple1 + tuple2

print("Tuple hasil penggabungan:", tuple_hasil)

Tuple hasil penggabungan: (1, 2, 3, 4, 5, 6)

Tipe Data Set Dan Dictionary

Set

In [ ]:
# Tipe Data Set

# Membuat set kosong
set_kosong = set()
print(set_kosong)

# Membuat set dengan elemen-elemen
himpunan_angka = {1, 2, 3, 4, 5}
print(himpunan_angka)

# Menambahkan elemen ke set
himpunan_angka.add(6)
print(himpunan_angka)

# Menghapus elemen dari set
himpunan_angka.remove(3)  # Akan error jika elemen tidak ada
print(himpunan_angka)

himpunan_angka.discard(7) # Tidak akan error jika elemen tidak ada
print(himpunan_angka)

# Operasi himpunan
himpunan_huruf = {'a', 'b', 'c', 'd'}

# Gabungan (union)
gabungan = himpunan_angka | himpunan_huruf
print("Gabungan:", gabungan)

# Irisan (intersection)
irisan = himpunan_angka & himpunan_huruf
print("Irisan:", irisan)

# Selisih (difference)
selisih = himpunan_angka - himpunan_huruf
print("Selisih:", selisih)

# Komplemen (symmetric difference)
komplemen = himpunan_angka ^ himpunan_huruf
print("Komplemen:", komplemen)

set()
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
{1, 2, 4, 5, 6}
Gabungan: {1, 2, 4, 5, 6, 'c', 'a', 'd', 'b'}
Irisan: set()
Selisih: {1, 2, 4, 5, 6}
Komplemen: {1, 2, 4, 5, 6, 'c', 'a', 'd', 'b'}

In [ ]:
urut=set()
print(urut)

set()

In [ ]:
himpunan_angka = {1, 2, 3, 4, 5}
print(himpunan_angka)

{1, 2, 3, 4, 5}

In [ ]:
urutan_angka={1,2,3,4,5,6}
print(urutan_angka)

urutan_angka.add(18)
print(urutan_angka)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 18}

Dictionary

In [ ]:
# Dictionary
# Membuat dictionary
mahasiswa = {
    "nama": "Andi",
    "nim": "1234567890",
    "jurusan": "Informatika"
}

print(mahasiswa)

# Mengakses nilai dengan key
print("Nama:", mahasiswa["nama"])
print("NIM:", mahasiswa["nim"])

# Menambahkan elemen baru
mahasiswa["alamat"] = "Jl. Ajah Dulu"
print(mahasiswa)

# Mengubah nilai
mahasiswa["nim"] = "0987654321"
print(mahasiswa)

# Menghapus elemen
del mahasiswa["alamat"]
print(mahasiswa)

# Mengakses nilai dengan get()
print("Jurusan:", mahasiswa.get("jurusan"))
print("Alamat:", mahasiswa.get("alamat", "Alamat tidak ditemukan")) # Mengatasi KeyError


# Metode dictionary lainnya
print(mahasiswa.keys())  # Mengambil semua keys
print(mahasiswa.values()) # Mengambil semua values
print(mahasiswa.items()) # Mengambil pasangan key-value

{'nama': 'Andi', 'nim': '1234567890', 'jurusan': 'Informatika'}
Nama: Andi
NIM: 1234567890
{'nama': 'Andi', 'nim': '1234567890', 'jurusan': 'Informatika', 'alamat': 'Jl. Ajah Dulu'}
{'nama': 'Andi', 'nim': '0987654321', 'jurusan': 'Informatika', 'alamat': 'Jl. Ajah Dulu'}
{'nama': 'Andi', 'nim': '0987654321', 'jurusan': 'Informatika'}
Jurusan: Informatika
Alamat: Alamat tidak ditemukan
dict_keys(['nama', 'nim', 'jurusan'])
dict_values(['Andi', '0987654321', 'Informatika'])
dict_items([('nama', 'Andi'), ('nim', '0987654321'), ('jurusan', 'Informatika')])

In [ ]:
murid={
    "nama" :"Roy",
    "alamat" : "setia"
}
print(murid)

print("akses ke ", murid["nama"])

{'nama': 'Roy', 'alamat': 'setia'}
akses ke  Roy

In [ ]:
murid["nama panggilan"] = "Sepat"
print(murid)

{'nama': 'Roy', 'alamat': 'setia', 'nama panggilan': 'Sepat'}

In [ ]:
murid["nama"] = "agus"
print(murid)

{'nama': 'agus', 'alamat': 'setia', 'nama panggilan': 'Sepat'}

BOOLEAN

In [ ]:
# BOOLEAN
benar = True
salah = False

print("Benar:", benar, type(benar))
print("Salah:", salah, type(salah))

# Operasi Boolean
print("Benar dan Salah:", benar and salah)  # Output: False
print("Benar atau Salah:", benar or salah)  # Output: True
print("Tidak Benar:", not benar)  # Output: False

Benar: True <class 'bool'>
Salah: False <class 'bool'>
Benar dan Salah: False
Benar atau Salah: True
Tidak Benar: False

# Casting type data

In [ ]:
# merubah dari satu tipe ke tipe lain
# tipe data = int, float, str, bool

## INTEGER
print("====INTEGER====")
data_int = 9;
print("data = ", data_int, ",type =",type(data_int))

data_float = float(data_int)
data_str   = str(data_int)
data_bool  = bool(data_int) # akan false jika nilai int = 0
print("data = ", data_float, ",type =",type(data_float))
print("data = ", data_str, ",type =",type(data_str))
print("data = ", data_bool, ",type =",type(data_bool))

## FLOAT
print("====FLOAT====")
data_float = 0;
print("data = ", data_float, ",type =",type(data_float))

data_int = int(data_float) # akan dibulatkan ke bawah
data_str   = str(data_float)
data_bool  = bool(data_float) # akan false jika nilai float = 0
print("data = ", data_int, ",type =",type(data_int))
print("data = ", data_str, ",type =",type(data_str))
print("data = ", data_bool, ",type =",type(data_bool))

## BOOLEAN
print("====BOOLEAN====")
data_bool = False;
print("data = ", data_bool, ",type =",type(data_bool))

data_int = int(data_bool) # akan dibulatkan ke bawah
data_str   = str(data_bool)
data_float  = float(data_bool) # akan false jika nilai float = 0
print("data = ", data_int, ",type =",type(data_int))
print("data = ", data_str, ",type =",type(data_str))
print("data = ", data_float, ",type =",type(data_float))

## STRING
print("====STRING====")
data_str = "10";
print("data = ", data_str, ",type =",type(data_str))

data_int    = int(data_str) # string harus angka
data_float  = float(data_str)  # string harus angka
data_bool   = bool(data_str) # false jika string kosong
print("data = ", data_int, ",type =",type(data_int))
print("data = ", data_float, ",type =",type(data_float))
print("data = ", data_bool, ",type =",type(data_bool))

====INTEGER====
data =  9 ,type = <class 'int'>
data =  9.0 ,type = <class 'float'>
data =  9 ,type = <class 'str'>
data =  True ,type = <class 'bool'>
====FLOAT====
data =  0 ,type = <class 'int'>
data =  0 ,type = <class 'int'>
data =  0 ,type = <class 'str'>
data =  False ,type = <class 'bool'>
====BOOLEAN====
data =  False ,type = <class 'bool'>
data =  0 ,type = <class 'int'>
data =  False ,type = <class 'str'>
data =  0.0 ,type = <class 'float'>
====STRING====
data =  10 ,type = <class 'str'>
data =  10 ,type = <class 'int'>
data =  10.0 ,type = <class 'float'>
data =  True ,type = <class 'bool'>

In [ ]:
## INTEGER
print("====INTEGER====")
data_int = 9;
print("data = ", data_int, ",type =",type(data_int))

====INTEGER====
data =  9 ,type = <class 'int'>

In [ ]:
ubah_data=float(data_int)
print("data = ", ubah_data, ",type =",type(ubah_data))

data =  9.0 ,type = <class 'float'>

# Operasi Aritmatika

In [ ]:
# Operasi Aritmatika

# Penjumlahan
a = 10
b = 5
penjumlahan = a + b
print("Penjumlahan:", penjumlahan)  # Output: 15

# Pengurangan
pengurangan = a - b
print("Pengurangan:", pengurangan)  # Output: 5

# Perkalian
perkalian = a * b
print("Perkalian:", perkalian)  # Output: 50

# Pembagian
pembagian = a / b
print("Pembagian:", pembagian)  # Output: 2.0

# Pembagian bulat (floor division)
pembagian_bulat = a // b
print("Pembagian Bulat:", pembagian_bulat) # Output: 2

# Modulus (sisa bagi)
modulus = a % b
print("Modulus:", modulus)  # Output: 0

# Pangkat
pangkat = a ** b
print("Pangkat:", pangkat)  # Output: 100000

# Urutan operasi (prioritas operasi)
a = 10
b = 5
c = 2

# Urutan operasi
hasil = a + b * c - c / b ** c

print("Hasil operasi:", hasil)

Penjumlahan: 15
Pengurangan: 5
Perkalian: 50
Pembagian: 2.0
Pembagian Bulat: 2
Modulus: 0
Pangkat: 100000
Hasil operasi: 19.92

# Operasi Pembanding

In [ ]:
# operasi Pembanding

# setiap hasil dari operasi komparasi adalah boolean

# >,<,>=,<=,==,!=,is,is not

a = 4
b = 2

# lebih besar dari >
print('========== lebih besar dari (>)')
hasil = a > 3
print(a,'>',3,'=',hasil)
hasil = b > 3
print(b,'>',3,'=',hasil)
hasil = b > 2
print(b,'>',2,'=',hasil)

# kurang dari <
print('========== kurang dari (<)')
hasil = a < 3
print(a,'<',3,'=',hasil)
hasil = b < 3
print(b,'<',3,'=',hasil)
hasil = b < 2
print(b,'<',2,'=',hasil)

# lebih dari sama dengan >=
print('========== lebih dari sama dengan(>=)')
hasil = a >= 3
print(a,'>=',3,'=',hasil)
hasil = b >= 3
print(b,'>=',3,'=',hasil)
hasil = b >= 2
print(b,'>=',2,'=',hasil)

# kurang dari sama dengan <=
print('======== kurang dari sama dengan(<=)')
hasil = a <= 3
print(a,'<=',3,'=',hasil)
hasil = b <= 3
print(b,'<=',3,'=',hasil)
hasil = b <= 2
print(b,'<=',2,'=',hasil)

# sama dengan (==)
print('======== sama dengan(==)')
hasil = a == 4
print(a,'==',4,'=',hasil)
hasil = b == 4
print(b,'==',4,'=',hasil)

# tidak sama dengan (!=)
print('======== sama dengan(!=)')
hasil = a != 4
print(a,'!=',4,'=',hasil)
hasil = b != 4
print(b,'!=',4,'=',hasil)

# 'is' sebagai komparasi object identity
print('======== object identity(is)')
x = 5 # ini adalah assignment membuat object
y = 5
print('nilai x =',x,',id = ',hex(id(x)))
print('nilai y =',y,',id = ',hex(id(y)))
hasil = x is y
print('x is y =',hasil)

x = 5 # ini adalah assignment membuat object
y = 6
print('nilai x =',x,',id = ',hex(id(x)))
print('nilai y =',y,',id = ',hex(id(y)))
hasil = x is y
print('x is y =',hasil)

print('======== object identity(is not)')
x = 5 # ini adalah assignment membuat object
y = 5
print('nilai x =',x,',id = ',hex(id(x)))
print('nilai y =',y,',id = ',hex(id(y)))
hasil = x is not y
print('x is y =',hasil)

x = 5 # ini adalah assignment membuat object
y = 6
print('nilai x =',x,',id = ',hex(id(x)))
print('nilai y =',y,',id = ',hex(id(y)))
hasil = x is not y
print('x is y =',hasil)

========== lebih besar dari (>)
4 > 3 = True
2 > 3 = False
2 > 2 = False
========== kurang dari (<)
4 < 3 = False
2 < 3 = True
2 < 2 = False
========== lebih dari sama dengan(>=)
4 >= 3 = True
2 >= 3 = False
2 >= 2 = True
======== kurang dari sama dengan(<=)
4 <= 3 = False
2 <= 3 = True
2 <= 2 = True
======== sama dengan(==)
4 == 4 = True
2 == 4 = False
======== sama dengan(!=)
4 != 4 = False
2 != 4 = True
======== object identity(is)
nilai x = 5 ,id =  0x7b742eb40170
nilai y = 5 ,id =  0x7b742eb40170
x is y = True
nilai x = 5 ,id =  0x7b742eb40170
nilai y = 6 ,id =  0x7b742eb40190
x is y = False
======== object identity(is not)
nilai x = 5 ,id =  0x7b742eb40170
nilai y = 5 ,id =  0x7b742eb40170
x is y = False
nilai x = 5 ,id =  0x7b742eb40170
nilai y = 6 ,id =  0x7b742eb40190
x is y = True

# Operasi BITWISE

In [ ]:
#bitwise, operasi biner, binary

a = 9
b = 5

# bitwise OR (|)
c = a | b
print('\n=========OR=========')
print('nilai :',a,' , binary :',format(a,'08b'))
print('nilai :',b,' , binary :',format(b,'08b'))
print('----------------------------- (|)')
print('nilai :',c,' , binary :',format(c,'08b'))

# bitwise AND (&)
c = a & b
print('\n=========AND========')
print('nilai :',a,' , binary :',format(a,'08b'))
print('nilai :',b,' , binary :',format(b,'08b'))
print('----------------------------- (&)')
print('nilai :',c,' , binary :',format(c,'08b'))

# bitwise XOR (^)
c = a ^ b
print('\n=========XOR========')
print('nilai :',a,' , binary :',format(a,'08b'))
print('nilai :',b,' , binary :',format(b,'08b'))
print('----------------------------- (^)')
print('nilai :',c,' , binary :',format(c,'08b'))

# bitwise NOT (~)
c = ~a
print('\n=========NOT========')
print('nilai :',a,' , binary :',format(a,'08b'))
print('----------------------------- (~)')
print('nilai :',c,' , binary :',format(c,'08b'))
print('----------------------------- (^)')
d = 0b0000001001
e = 0b1111111111

# shifting

# shift right (>>)
c = a >> 2
print('\n=========>>=========')
print('nilai :',a,' , binary :',format(a,'08b'))
print('----------------------------- (>>)')
print('nilai :',c,' , binary :',format(c,'08b'))

# shift left (<<)
c = a << 2
print('\n=========<<=========')
print('nilai :',a,' , binary :',format(a,'08b'))
print('----------------------------- (<<)')
print('nilai :',c,' , binary :',format(c,'08b'))

=========OR=========
nilai : 9  , binary : 00001001
nilai : 5  , binary : 00000101
----------------------------- (|)
nilai : 13  , binary : 00001101

=========AND========
nilai : 9  , binary : 00001001
nilai : 5  , binary : 00000101
----------------------------- (&)
nilai : 1  , binary : 00000001

=========XOR========
nilai : 9  , binary : 00001001
nilai : 5  , binary : 00000101
----------------------------- (^)
nilai : 12  , binary : 00001100

=========NOT========
nilai : 9  , binary : 00001001
----------------------------- (~)
nilai : -10  , binary : -0001010
----------------------------- (^)

=========>>=========
nilai : 9  , binary : 00001001
----------------------------- (>>)
nilai : 2  , binary : 00000010

=========<<=========
nilai : 9  , binary : 00001001
----------------------------- (<<)
nilai : 36  , binary : 00100100

In [ ]:
bulat=2
print('nilai :',bulat,' , binary :',format(bulat,'08b'))

nilai : 2  , binary : 00000010

In [ ]:
bulat1=2>>4
print('nilai :',bulat1,' , binary :',format(bulat1,'08b'))

nilai : 0  , binary : 00000000

In [ ]:
bulat2=2<<1
print('nilai :',bulat2,' , binary :',format(bulat2,'08b'))

nilai : 4  , binary : 00000100

# Percabangan (If/Else)

In [ ]:
# Percabangan if

nilai = 85

if nilai >= 90:
    print("Nilai A")
elif nilai >= 80:
    print("Nilai B")
elif nilai >= 70:
    print("Nilai C")
else:
    print("Nilai D")


# Percabangan if bersarang (nested if)

usia = 20
pekerjaan = "Mahasiswa"

if usia >= 18:
    if pekerjaan == "Mahasiswa":
        print("Anda seorang mahasiswa dewasa")
    else:
        print("Anda sudah dewasa dan bekerja")
else:
    print("Anda masih di bawah umur")

# Percabangan dengan operator logika (and, or, not)
nilai = 75
absensi = 80
if nilai >= 75 and absensi >= 80 :
    print('Selamat anda lulus')
else :
  print('Maaf anda tidak lulus')

# Contoh lain
nilai = 60
absensi = 70

if nilai >= 75 or absensi >= 80 :
    print("Selamat anda lulus")
else :
    print('Maaf anda tidak lulus')

# Percabangan dengan pass

nilai = 50

if nilai >= 70:
    print('Lulus')
else:
    pass # Tidak melakukan apa pun


# Ternary Operator
umur = 17

status = "Dewasa" if umur >= 18 else "Anak-anak"

print(status) # Output: Anak-anak

Nilai B
Anda seorang mahasiswa dewasa
Selamat anda lulus
Maaf anda tidak lulus
Anak-anak

In [ ]:
nilai = 85

if nilai >= 90:
    print("Nilai A")
elif nilai >= 80:
    print("Nilai B")
elif nilai >= 70:
    print("Nilai C")
else:
    print("Nilai D")

Nilai B

In [ ]:
usia = 15
pekerjaan = "Mahasiswa"

if usia >= 18:
    if pekerjaan == "Mahasiswa":
        print("Anda seorang mahasiswa dewasa")
    else:
        print("Anda sudah dewasa dan bekerja")
else:
    print("Anda masih di bawah umur")

Anda masih di bawah umur

# Perulangan (looping)

For Loop

In [ ]:
# Perulangan (loop)

# for kondisi:
# 	aksi

# ini dengan list
angka2_list = [0,2,4,8,10] # ini adalah list
print(angka2_list)

for meja in angka2_list:
	print(f"urutan sekarang -> {meja}")

print("akhir dari program 1 \n")

# ini dengan range
angka2_range = range(5)

for i in angka2_range:
	print(f"i sekarang -> {i}")

print("akhir dari program 2 \n")

angka2_range = range(1,10)

for i in angka2_range:
	print(f"i sekarang -> {i}")
	# print("saya keren")

print("akhir dari program 3 \n")

# menggunakan string

data_str = "we are connected"

for huruf in data_str:
	print(huruf)

print("akhir dari program 4 \n")

[0, 2, 4, 8, 10]
urutan sekarang -> 0
urutan sekarang -> 2
urutan sekarang -> 4
urutan sekarang -> 8
urutan sekarang -> 10
akhir dari program 1

i sekarang -> 0
i sekarang -> 1
i sekarang -> 2
i sekarang -> 3
i sekarang -> 4
akhir dari program 2

i sekarang -> 1
i sekarang -> 2
i sekarang -> 3
i sekarang -> 4
i sekarang -> 5
i sekarang -> 6
i sekarang -> 7
i sekarang -> 8
i sekarang -> 9
akhir dari program 3

w
e

a
r
e

c
o
n
n
e
c
t
e
d
akhir dari program 4

While Loop

In [ ]:
# while loop

# while kondisi:
# 	aksi ini
# 	aksi itu

# akhir dari program

angka = 0
print(f"angka sekarang -> {angka}")

while angka < 5:
	angka += 1
	print(f"angka sekarang -> {angka}")
	print("Agus ganteng maxsyimaal!")

print("cukuuup")

angka sekarang -> 0
angka sekarang -> 1
Agus ganteng maxsyimaal!
angka sekarang -> 2
Agus ganteng maxsyimaal!
angka sekarang -> 3
Agus ganteng maxsyimaal!
angka sekarang -> 4
Agus ganteng maxsyimaal!
angka sekarang -> 5
Agus ganteng maxsyimaal!
cukuuup

# Praktek Time

**Soal No 1**

Kalkulator Sederhana

*   Buatlah program yang meminta pengguna untuk memasukkan dua angka dan operator aritmatika (+, -, *, /).
*   Program kemudian menghitung hasil operasi berdasarkan input pengguna dan menampilkannya.
*   Gunakan percabangan if-elif-else untuk menentukan operator yang digunakan.

In [ ]:
# Program Kalkulator Sederhana

print("Kalkulator Sederhana")
print("Masukkan dua angka dan pilih operator (+, -, *, /):")

# Meminta input dari pengguna
angka1 = float(input("Masukkan angka pertama: "))
angka2 = float(input("Masukkan angka kedua: "))
operator = input("Masukkan operator (+, -, *, /): ")

# Menggunakan percabangan untuk menghitung berdasarkan operator
if operator == '+':
    hasil = angka1 + angka2
    print(f"Hasil: {angka1} + {angka2} = {hasil}")
elif operator == '-':
    hasil = angka1 - angka2
    print(f"Hasil: {angka1} - {angka2} = {hasil}")
elif operator == '*':
    hasil = angka1 * angka2
    print(f"Hasil: {angka1} * {angka2} = {hasil}")
elif operator == '/':
    if angka2 != 0:  # Menghindari pembagian dengan nol
        hasil = angka1 / angka2
        print(f"Hasil: {angka1} / {angka2} = {hasil}")
    else:
        print("Error: Tidak dapat membagi dengan nol.")
else:
    print("Operator tidak valid. Silakan coba lagi.")

print("Terima kasih telah menggunakan kalkulator ini!")

Kalkulator Sederhana
Masukkan dua angka dan pilih operator (+, -, *, /):
Masukkan angka pertama: 14
Masukkan angka kedua: 19
Masukkan operator (+, -, *, /): /
Hasil: 14.0 / 19.0 = 0.7368421052631579
Terima kasih telah menggunakan kalkulator ini!

**Soal No 2**

Menampilkan Deret Fibonacci


*   Buatlah program yang menampilkan deret Fibonacci hingga batas tertentu yang ditentukan oleh pengguna.
*   Deret Fibonacci dimulai dengan 0 dan 1, dan setiap angka berikutnya adalah jumlah dari dua angka sebelumnya (0, 1, 1, 2, 3, 5, 8, ...).
*   Gunakan perulangan for atau while untuk menghasilkan deret.

In [ ]:
batas = int(input("Masukkan batas deret Fibonacci: "))

a, b = 0, 1

if batas <= 0:
  print("Masukkan batas yang lebih besar dari 0")
elif batas == 1:
  print(a)
else:
  print(a)
  print(b)
  for i in range(2, batas):
    c = a + b
    a, b = b, c
c

Masukkan batas deret Fibonacci: 7
0
1

8

**Soal No 3**

Mencari Nilai Maksimum dan Minimum dalam List



*   Buatlah program yang meminta pengguna untuk memasukkan serangkaian angka dan menyimpannya dalam sebuah list.
*   Program kemudian mencari nilai maksimum dan minimum dalam list tersebut dan menampilkannya.
*   Gunakan fungsi max() dan min() untuk mencari nilai maksimum dan minimum.

In [ ]:
angka = []
while True:
    try:
        bilangan = float(input("Masukkan angka (atau ketik 'selesai'): "))
        angka.append(bilangan)
    except ValueError:
        if input("Apakah anda ingin berhenti memasukkan angka (ya/tidak)? ").lower() == 'ya':
            break
        else:
            continue

if angka:
    nilai_maksimum = max(angka)
    nilai_minimum = min(angka)
    print("Nilai maksimum:", nilai_maksimum)
    print("Nilai minimum:", nilai_minimum)
else:
    print("Tidak ada angka yang dimasukkan.")

Masukkan angka (atau ketik 'selesai'): 120
Masukkan angka (atau ketik 'selesai'): 12
Masukkan angka (atau ketik 'selesai'): 11
Masukkan angka (atau ketik 'selesai'): 1
Masukkan angka (atau ketik 'selesai'): selesai
Apakah anda ingin berhenti memasukkan angka (ya/tidak)? ya
Nilai maksimum: 120.0
Nilai minimum: 1.0